.header > img {
  width: 100%;
}

.date-time {
  position: absolute;
  border-radius: 50%;
  background-color: #3124846e;
  color: #0a0141;
  font-size: 26px;
  top: 11%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Arial, Helvetica, sans-serif;
  height: 155px;
  width: 155px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.date-time > * {
  text-align: center;
  margin: 5px;
}

.date-time > h2 {
  font-size: 27px;
}

.date-time > h4 {
  font-size: 18px;
}
